<div class="main-layout">
    <header class="header">
        <div class="logo">
<!--            <img src="assets/logo.png" alt="Cyber Sport Hackathon Logo">-->
<!--          <strong style="color: #ffffff"></strong>-->
          <nav class="navigation">
            <ul>
              <li><a routerLink="/" style="text-decoration: none">EsportMonitor</a></li>
            </ul>
          </nav>
        </div>
        <nav class="navigation">
            <ul>
                <li><a routerLink="/">Главная</a></li>
                <li><a routerLink="/tournaments">Турниры</a></li>
                <li><a routerLink="/teams">Команды</a></li>
                <li><a routerLink="/auth">Войти</a></li>
            </ul>
        </nav>
    </header>
    <main style="padding: 0">
        <router-outlet></router-outlet>
    </main>
    <footer class="footer">
        <p>&copy; 2023 EsportMonitor. Все права защищены. (нет)</p>
    </footer>
</div>
