<div class="admin-dashboard">
    <h1 class="dashboard-title">Панель Управления</h1>
    <div class="dashboard-widgets">
        <a class="widget judges-widget" style="text-decoration: none;" routerLink="/admin/judges/invite">
            <div>
                <h2>Регистрация судей</h2>
                <p>Всего: 8</p>
                <p>Доступные: 6</p>
                <p>Занятые: 2</p>
            </div>
        </a>
        <div class="widget tournaments-widget">
            <h2>Турниры</h2>
            <p>Всего: 12</p>
            <p>Предстоящие: 3</p>
            <p>Идущие: 5</p>
            <p>Завершенные: 4</p>
        </div>
        <div class="widget teams-widget">
            <h2>Команды</h2>
            <p>Всего: 27</p>
            <p>Активные: 22</p>
            <p>Неактивные: 5</p>
        </div>
    </div>
</div>
