/* You can add global styles to this file, and also import other style files */
$color-white: #FFFFFF;
$color-dark-blue: #2E4C67;
$color-black: #262728;
$color-background: #F8F9FA;
$color-header-main: #F0F2F2;
$color-gray: #DADBDC;
$color-nav-inactive: #A8A9AA;
$color-green: #49A069;

$box-shadow-1: 0 0 30px rgba(0,0,0,0.1);


@font-face {
  font-family: 'Open-Sans';
  src: url('assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


p, a {
  font-family: 'Open-Sans', sans-serif;
}
