<div class="home">
  <h1 class="home__title">Добро пожаловать в EsportMonitor!</h1>
  <p class="home__description">Ваш универсальный инструмент для управления киберспортивными событиями.</p>

  <div class="features">
    <a routerLink="/teams" class="feature" style="text-decoration: none">
      <div>
        <h2 class="feature__title">👥 Команды</h2>
        <p class="feature__description">Создавайте и управляйте командами, регистрируйте их на турниры.</p>
      </div>
    </a>


    <a routerLink="/tournaments" class="feature" style="text-decoration: none">
      <div>
        <h2 class="feature__title">🏆 Турниры</h2>
        <p class="feature__description">Организуйте и управляйте турнирами, отслеживайте результаты.</p>
      </div>
    </a>

    <a routerLink="/auth" class="feature"  style="text-decoration: none">
      <div>
        <h2 class="feature__title">👤 Профиль</h2>
        <p class="feature__description">Управляйте вашим профилем и настройками аккаунта.</p>
      </div>
    </a>
  </div>
</div>
